.page-header {
  display: flex;
  height: 400px;
  width: 30%;
  margin: 50px;
  flex-direction: column;
  align-items: center;
  background-color: #004f8c;
  background-image: url(http://www.transparenttextures.com/patterns/black-scales.png);
  color:#ffffff;
  font-family: "Source Sans Pro", sans-serif;
}

@media (max-width: 768px){
  .page-header{
    margin: auto;
    width: 100%;
  }
}
